{% macro card_macro(card) %}

<div class="card" style="width: 18rem">
  <img src="{{card.img}}" class="card-img-top" alt="{{card.name}} Image" />
  <div class="card-body">
    <h1 class="card-title">{{card.title}}</h1>

    <h5 class="card-title">{{card.name}}</h5>
  </div>
</div>

{% endmacro %}
