{% extends 'base.html' %} {% block content %} {% from 'macros/card.html' import
card_macro %}
<div class="container">
  <div class="row">
    {% for item in cards %}
    <div class="col">{{ card_macro(item) }}</div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
