{% extends 'base.html' %} {% block form %}
<form action="/api/post" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Titulo</label>
    <input
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Titulo"
      name="title"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Nome</label>
    <input
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Nome"
      name="name"

    />
    <div class="form-group">
        <label for="exampleInputPassword1">Imagem</label>
        <input
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Link"
          name="img"
        />
  </div>
  <div class="form-group form-check">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock form %}
