{% extends 'base.html' %} {% block notfound %}
<div class="container">
  <div class="row">
    <img src="https://www.idealmarketing.com.br/blog/wp-content/uploads/2018/07/o-que-%C3%A9-erro-404.png" style="width: 100%; height: 100%;"></img>
  </div>
</div>
{% endblock notfound %}
